*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .intro h1 {
      font-size: 46px;
  };
  #weatherSubmit
  {
    width: 95%;
  }
  input {
    width: 95%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}

body {
  background: url('images/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main
{
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.background
{
  background-color: rgba(223, 217, 217, 0.527);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  padding-bottom: 40px;
  border-radius: 15px;
  display: block;
}

#footer
{
  position: fixed;
  bottom: 0px;
  left: 10px;
}

#triviaHr {
  height: 3px;
  background-color: black;
  border: none;
}

#intro {
  color: black;
  font-size: 64px;
  text-align: center;
  font-weight: bolder;
}

#spacer {
  border-radius: 15px;
  margin: 30px;
  margin-left: 10%;
  margin-right: 10%;
  border-color: black;
  border-style: solid;
}

#question {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(24, 24, 24);
  text-align: center;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
  font-weight: bold;
}

#category {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(24, 24, 24);
  font-weight: 700;
}

.questionBox {
  text-align: right;
  width: 100%;
}

.answerBox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  background-color: rgba(216, 208, 208, 0.4);
  border-radius: 10px;
  border: none;
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px;
  width: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

#answers
{
  display: flex;
  justify-content: center;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#solution {
  display: flex;
  justify-content: center;
  font-size: 62px;
  font-weight: bolder;
  border: 10px black;
  border-radius: 10px;;
  border-style: solid;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: rgb(151, 151, 151);
  background-color: rgb(29, 28, 28);
  width: 80%;
}

#skip {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(24, 24, 24);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(216, 208, 208, 0.4);
  border-radius: 10px;
  border: none;
  width: 200px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}